*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.container{
  padding: 5rem; 
  
  
}

.container h1{
    border-top: 5px solid black;
    display: inline-block;
}

h2{
    text-decoration: line-through;
    
}

h3{
   text-decoration: underline;
}  

h4{
    
    text-decoration: underline;
    border-top: 3px solid black;
    margin-top: 5px;
    display: inline-block;

}